/*!DOCTYPE css*/

:root {
    --c1: #E0E0E2;
    --c2: #81D2C7;
    --c3: #B5BAD0;
    --c4: #7389AE;
    --c5: #416788;
}

#attack_1 {
    background-color: var(--c2);
    padding:20px;
    width:33%
}

#attack_2 {
    background-color: var(--c4);
    padding:20px;
    width:33%
}

#attack_3 {
    background-color: var(--c5);
    padding:20px;
    width:33%
}

.container {
    display: flex;
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  /* 2xl */
  @media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
        display:block;
      max-width: 475px;
    }

    #attack_1, #attack_2, #attack_3 {
        width:100%
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
        display: block;
      width: 100%;
    }

    #attack_1, #attack_2, #attack_3 {
        width:100%
    }
  }

body {
    background-color: var(--c3);
}

h1 {
    text-align: center;
}