html {
    background-color: #E2E79B;
}

.WIP {
    text-align: center;
    position:sticky;
    top: 0px;
    left:0px;
    width:100%;
    margin: 0%;
    z-index: 1;
}

.main_body {
    display: grid;
    grid-template-columns: 125px 500px;
}

.intra_link {
    align-self: start;
    position: sticky;
    top: 0
}

.article {
    display: flex;
    margin: 20px;
    padding: 15px;
    background-color: #88B1E7;
    color: white
}

.art_title {
    writing-mode: vertical-lr;
}

.sus {
    position:fixed;
    top:0px;
    right:0px;
    width:10px;
}