/*!DOCTYPE css*/

body {
    background-color: #7851a9;
}

/*font-family list: Arial (sans-serif); Verdana (sans-serif); Tahoma (sans-serif); Trebuchet MS (sans-serif); Times New Roman (serif); Georgia (serif); Garamond (serif); Courier New (monospace); Brush Script MT (cursive)*/

h1 {
    font-family: Georgia;
    font-size: 25pt;
    color: turquoise;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

hr {
    border-style: inset;
    border-width: 2px;
}

p {
    font-family: sans-serif;
    font-size: 14pt;
    color: orange;
    font-style:normal;
    font-weight:normal;
    text-indent: 90px;
    text-transform: uppercase;
    text-align: right;
}

h2 {
    font-family: Tahoma;
    font-size: 20pt;
    color: red;
    font-style: italic;
    font-weight: bold;
}

span {
    color: white;
    text-decoration: underline;
    font-weight: bold;
    
}

div {
    background-color: magenta;
    border: 13px groove green;
    padding: 24px;
    margin: 36px;
    
}