/*!DOCTYPE css*/

html {
    background-image: url(../photos/4.6_trees.jfif);
    background-size: cover;
}

#content {
    background-color: #fbd6a1;
    border: 5px #1d5d8a solid;
    margin: 30px;
    padding: 15px;
}

#start {
    color: #A96E31;
}

#end {
    color: #658d4b;
}

h1 {
    color: #2980B9;
    text-align: center;
    font-family: Georgia;
    font-size: 20pt;
    text-decoration: underline;
}

h2 {
    color: #817069;
}

h3 {
    color: #fff9e1;
}