html {
    background-color: #E2E79B;
    color:black;
}

ul, li {
    list-style-position: inside;
}

.footer {
    text-align: center;
    position:sticky;
    top: 0px;
    left:0px;
    width:100%;
    margin: 0%;
    z-index: 1;
}

.container {
    margin: auto;
    width:600px;
    display:flex;
    /*flex-direction:column;*/
    justify-content: center;
    flex-wrap:wrap;
}

.title {
    text-align: center;
}

.link_list {
    width: 150px;
    margin: 10px;
    padding: 10px;
}

#U2 {
    background-color: #FFFFFF;
}

#U3 {
    background-color: #F4FF5F;
}


#U4 {
    background-color: #88B1E7;
}

#CSS {
    background-color: #E54B4B;
}

#other {
    background-color: #F2542D;
}